@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Quattrocento:400,700');

/* ======================
Base Styles
======================= */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1025px;
}

h1,
h2,
h3,
h4 {
  font: 2em/1 'Oswald', sans-serif;
  color: #333;
}

body {
  background: #fafafa;
  font: 1em/1.5 'Quattrocento', serif;
  color: #333;
  position: relative;
}

a {
  text-decoration: none;
}

/* ======================
Header Styles
======================= */

header {
  width: 100%;
  height: 10%;
  background-color: #111d4a;
  text-align: center;
}

header h2 {
  color: #fff;
  text-transform: uppercase;
}

.intro {
  text-align: center;
}

.intro h3 {
  margin: 0.7em 0;
}

/* ======================
Form Styles
======================= */

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

legend {
  font: 2em/1 'Oswald', sans-serif;
  color: #333;
  margin: 0.5em 0;
}

button {
  background: #725ac1;
  color: #fff;
  font: 1em/1.5 'Oswald', sans-serif;
  padding: 15px 100px;
  outline: none;
  border: none;
  border-radius: 5px;
}