@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Quattrocento:400,700');

/* ======================
Base Styles
======================= */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper { 
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  max-width: 1025px;
  margin: 0 auto;
  background: #211d38;
}

h1,
h2 {
  font: 2.5em/1 'Oswald', sans-serif;
  color: #fafbfd;
}

h3,
h4 {
  font: 1.5em/1 'Oswald', sans-serif;
  color: #fafbfd;
}

body {
  background: #211d38;
  font: 1em/1.5 'Quattrocento', serif;
  color: #fafbfd;
  position: relative;
}

a {
  text-decoration: none;
}

/* ======================
Header Styles
======================= */

header {
  width: 100%;
  height: 10%;
  background-color: #2cdcf9;
  text-align: center;
}

header h2 {
  color: #fafbfd;
  text-transform: uppercase;
}

.intro {
  text-align: center;
}

.intro h3 {
  margin: 0.7em 0;
  color: #9793e3;
}

/* ======================
Form Styles
======================= */

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  color: #9793e3;
  font: normal normal normal 1em/1.4 'Quattrocento', serif;
}

legend {
  font: 2em/1 'Oswald', sans-serif;
  color: #fafbfd;
  margin: 0.5em 0;
}

input {
  background: #fafbfd;
  color: #211d38;
}

select#state {
  padding: 1em;
  width: 90%;
  color: #fafbfd;
}

textarea:focus, input:focus {
  border: 2px solid #900;
}

.contactInfo input {
  width: 90%;
}

.contactInfo,
.newsletterType {
  display: flex;
  flex-direction: column;
}

button {
  /*background: #18152d;*/
  background: #9793e3;
  color: #fafbfd;
  font: 1em/1.5 'Oswald', sans-serif;
  margin: 0 auto;
  padding: 20px 100px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 50%;
}